apiVersion: v1
kind: Service
metadata:
  name: {{ include "k8s.fullname" . }}
  labels:
    {{- include "k8s.labels" . | nindent 4 }}
  annotations: {{ toYaml .Values.service.annotations | nindent 4 }}
spec: 
  type: {{ .Values.service.type }}
  ports:
  {{- range .Values.service.ports }}
  - name: {{ .name }}
    port: {{ .port }}
    targetPort: {{ .targetPort }}
    protocol: {{ .protocol | default "TCP" }}
  {{- end }}
  selector:
    {{- include "k8s.selectorLabels" . | nindent 4 }}
