server:
  port: 9095
  pyroscope-config:
    enabled: true
    url: url
    username: pyro-username
    password: pyro-password
  tls:
    enabled: true
    certificate: "/path/cert"
    key: "/path/key"
    ca: "/path/ca"

stats:
  enabled: true
  type: drpc
  flush-interval: 5m

app-storages:
  - name: redis-storage-1
    redis:
      full-url: "redis://localhost:6379/0"
      address: "localhost:6379"
      username: username
      password: password
      db: 2
      timeouts:
        connect-timeout: 1s
        read-timeout: 2s
        write-timeout: 3s
      pool:
        size: 35
        pool-timeout: 5s
        min-idle-conns: 10
        max-idle-conns: 50
        max-active-conns: 45
        conn-max-idle-time: 60s
        conn-max-life-time: 60m
  - name: postgres-storage-1
    postgres:
      url: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable

integration:
  drpc:
    url: http://localhost:9090
    request-timeout: 35s

auth:
  enabled: true
  request-strategy:
    type: jwt
    jwt:
      public-key: /path/to/key
      allowed-issuer: "my-super"
      expiration-required: true
  key-management:
    - id: "other-key"
      type: local
      local:
        key: "asadasdjabdhjabshjd"
        settings:
          allowed-ips:
            - "192.0.0.1"
            - "127.0.0.1"
          methods:
            allowed:
              - "eth_test"
            forbidden:
              - "eth_syncing"
          contracts:
            allowed:
              - "0xfde26a190bfd8c43040c6b5ebf9bc7f8c934c80a"
    - id: "drpc-super-key"
      type: drpc
      drpc:
        owner:
          id: "id"
          api-token: "apiToken"

cache:
  connectors:
    - id: memory-connector
      driver: memory
      memory:
        max-items: 1000
        expired-remove-interval: 10s
    - id: redis-connector
      driver: redis
      redis:
        storage-name: redis-storage-1
    - id: postgresql-connector
      driver: "postgres"
      postgres:
        storage-name: postgres-storage-1
        query-timeout: 5s
        cache-table: "cache"
        expired-remove-interval: 10s
  policies:
    - chain: "optimism|polygon | ethereum"
      id: super_policy
      method: "*getBlock*"
      finalization-type: none
      cache-empty: true
      connector-id: memory-connector
      object-max-size: "10KB"
      ttl: 10s

upstream-config:
  failsafe-config:
    retry:
      attempts: 10
      delay: 2s
      max-delay: 5s
      jitter: 3s
    hedge:
      delay: 500ms
      max: 2
  chain-defaults:
    ethereum:
      poll-interval: 2m
  upstreams:
    - id: eth-upstream
      chain: ethereum
      head-connector: websocket
      poll-interval: 3m
      rate-limit:
        rules:
          - method: eth_getBlockByNumber
            requests: 100
            period: 1s
          - pattern: eth_getBlockByNumber|eth_getBlockByHash
            requests: 50
            period: 1s
          - pattern: trace_.*
            requests: 5
            period: 2m
      failsafe-config:
        retry:
          attempts: 5
          delay: 500ms
          max-delay: 1s
          jitter: 6s
      connectors:
        - type: json-rpc
          url: https://test.com
          headers:
            Key: Value
        - type: websocket
          url: wss://test.com
    - id: another
      chain: polygon
      rate-limit:
        auto: true
      failsafe-config:
        retry:
          attempts: 7
      connectors:
        - type: rest
          url: https://test.com
        - type: grpc
          url: https://test-grpc.com
          headers:
            key: value
